/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
  /* Custom Font */
  --font-style: Merriweather, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* Custom Color */
  --color1: #f0f0f0;
  --color2: #f9b66d;
  --color3: #cd9254;
  --color4: #2c2c2c;

  /* Custom Background Color */
  --bg1: #252525;
  --bg2: #1c1b1a;
  --bg3: #302c28;
  --bg4: #444444;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color3);
  border-radius: 25px;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

i {
  cursor: pointer;
}

body {
  background-color: var(--bg1);
  font-family: var(--font-style);
}

/* HEADER MENU */
header {
  position: sticky;
  top: 0;
  padding: 1.5rem;
  -webkit-box-shadow: 0 -20px 100px black;
  box-shadow: 0 -20px 100px black;
  background-color: var(--bg2);
  z-index: 10;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: var(--color1);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.85em;
}

.logo > img {
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo > h1 {
  margin-top: 5px;
}

.navbar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.navbar > ul li a {
  color: var(--color1);
  font-size: 0.85rem;
}

.navbar > ul li::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--color2);
  display: block;
  margin: 5px auto;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.navbar > ul li:hover::after {
  width: 100%;
}

.navfeature {
  background-color: var(--color3);
  border-radius: 20px;
  padding: 0.4em 1.3em;
  color: var(--color1);
  letter-spacing: 0.3em;
}

#search-box {
  width: 80px;
  height: 25px;
  border-radius: 20px;
  background-color: var(--color4);
  border: transparent;
  padding: 10px;
}

#search-box::-webkit-search-cancel-button {
  display: none;
}

#search-box::-webkit-input-placeholder {
  color: var(--color1);
}

#search-box::-moz-placeholder {
  color: var(--color1);
}

#search-box:-ms-input-placeholder {
  color: var(--color1);
}

#search-box::-ms-input-placeholder {
  color: var(--color1);
}

#search-box::placeholder {
  color: var(--color1);
}

#search-box:not(:focus) {
  color: var(--color1);
}

#search-box:focus {
  outline: none;
  color: var(--color1);
}

#bar-menu,
#close-menu {
  display: none;
}

.navmobile {
  display: none;
}

/* TABLET SCREEN HEADER MENU */
@media screen and (max-width: 1000px) {
  header {
    padding: 1rem;
  }

  .navbar {
    display: none;
  }

  .navfeature {
    display: none;
  }

  #search-box {
    width: 180px;
  }

  .navmobile {
    display: none;
    width: 90vw;
    text-align: center;
    background-color: var(--color3);
    margin: 1em auto;
    color: var(--color1);
    line-height: 2em;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
  }

  .navmobile > ul {
    display: inline-block;
  }

  .navmobile > ul li a {
    color: var(--color1);
  }

  .navmobile > ul li::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: var(--color4);
    display: block;
    margin: 0.1px auto;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .navmobile > ul li:hover::after {
    width: 100%;
  }

  #bar-menu {
    display: inline-block;
  }

  .navmobile > i {
    display: inline-block;
    font-size: 1.1rem;
  }
}

/* MOBILE SCREEN HEADER MENU */
@media screen and (max-width: 500px) {
  .logo > h1 {
    font-size: 1.3rem;
    margin-top: 13px;
    margin-left: -10px;
  }

  .logo > img {
    height: 50px;
  }

  .navmobile > ul li a {
    font-size: 12px;
  }
}

/* MAIN SECTION */
main {
  margin-top: 4rem;
  width: 100vw;
}

.main-page {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80vw;
  color: white;
  gap: 2rem;
}

.main-text > h3 {
  font-size: 2.45rem;
  color: var(--color2);
  margin-bottom: 1rem;
}

.main-text > p {
  line-height: 2rem;
}

.main-img {
  -webkit-clip-path: polygon(34% 1%, 100% 32%, 100% 84%, 34% 100%, 0% 43%);
  clip-path: polygon(34% 1%, 100% 32%, 100% 84%, 34% 100%, 0% 43%);
  background-color: var(--color2);
  height: 350px;
}

.main-img img {
  -webkit-clip-path: polygon(34% 1%, 100% 32%, 100% 84%, 34% 100%, 0% 43%);
  clip-path: polygon(34% 1%, 100% 32%, 100% 84%, 34% 100%, 0% 43%);
  -webkit-transform: translateX(12px) translateY(10px);
  -ms-transform: translateX(12px) translateY(10px);
  transform: translateX(12px) translateY(10px);
  z-index: 1;
  height: inherit;
}

.main-text > button {
  border-radius: 30px;
  padding: 13px 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.explore {
  background-color: var(--bg4);
  border: transparent;
  color: var(--color2);
  font-weight: bolder;
  margin-right: 5px;
}

.order {
  border: transparent;
  background-color: var(--bg4);
  color: var(--color2);
  font-weight: bolder;
}

.explore:hover {
  background-color: var(--bg1);
  -webkit-box-shadow: 0 0 5px 2px var(--color2);
  box-shadow: 0 0 5px 2px var(--color2);
}

.order:hover {
  background-color: var(--bg1);
  -webkit-box-shadow: 0 0 5px 2px var(--color2);
  box-shadow: 0 0 5px 2px var(--color2);
}

/* TABLET SCREEN MAIN SECTION */
@media screen and (max-width: 1000px) {
  main {
    margin-top: 2rem;
  }

  .main-page {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-text > h3 {
    font-size: 2rem;
  }

  .main-text > p {
    font-size: 0.9rem;
  }

  .main-img {
    height: 420px;
    margin-top: 3rem;
  }
}

/* MOBILE SCREEN MAIN SECTION */
@media screen and (max-width: 500px) {
  .main-page {
    gap: initial;
  }

  .main-img {
    height: 230px;
  }

  .main-text > button {
    font-size: 10px;
    padding: 8px 1rem;
  }
}

/* SHOP INFO PAGE */
.shop-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  margin: 5rem auto;
  width: 80vw;
  gap: 2rem;
}

.shop-info-col {
  text-align: center;
  line-height: 2em;
  border: 2px dotted var(--color2);
  border-radius: 35px;
  padding: 2rem;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.shop-info-col:hover {
  border: 2px dotted transparent;
  -webkit-box-shadow: 0 0 10px 3px var(--color2);
  box-shadow: 0 0 10px 3px var(--color2);
}

.shop-info-col > i {
  font-size: 2rem;
  color: var(--color2);
}

.shop-info-col > p {
  font-size: 12px;
  color: var(--color3);
}

/* MOBILE SCREEN SHOP INFO PAGE */
@media screen and (max-width: 500px) {
  .shop-info {
    -ms-grid-columns: unset;
    grid-template-columns: unset;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .shop-info > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

/* ABOUT PAGE */
.about {
  width: 100vw;
  padding: 4rem;
  background-color: var(--bg3);
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 4rem auto;
  grid-template-columns: auto auto;
  margin: auto;
  gap: 4rem;
  z-index: 0;
  width: 90vw;
  color: var(--color1);
}

.about-container > figure {
  height: 320px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  background-color: var(--color2);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.about-container > figure img {
  height: 300px;
  -webkit-clip-path: inherit;
  clip-path: inherit;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  z-index: 1;
}

.about-container > article {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.about-container > article h3 {
  font-size: 2.45rem;
  color: var(--color2);
  margin-bottom: 1rem;
}

.about-container > article p {
  line-height: 2rem;
}

/* TABLET SCREEN ABOUT PAGE */
@media screen and (max-width: 1000px) {
  .about {
    padding: 4rem 2em;
  }

  .about-container {
    -ms-grid-columns: unset;
    grid-template-columns: unset;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    place-items: center;
  }

  .about-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .about-container > article h3 {
    font-size: 2rem;
  }

  .about-container > article p {
    font-size: 0.9rem;
  }
}

/* MOBILE SCREEN ABOUT PAGE */
@media screen and (max-width: 500px) {
  .about {
    padding: 4rem 0;
  }

  .about-container > figure {
    height: 210px;
  }

  .about-container > figure img {
    height: 190px;
  }
}
