/* SHOP PAGE */
.shop {
  margin: 3rem auto;
}

.shop > h3 {
  text-align: center;
  color: var(--color2);
}

.shop > p {
  text-align: center;
  color: var(--color1);
}

.all-products {
  background-color: var(--bg4);
  color: var(--color2);
  padding: 13px 1.5rem;
  border-radius: 25px;
  font-size: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.all-products:hover {
  background-color: var(--bg1);
  -webkit-box-shadow: 0 0 5px 2px var(--color2);
  box-shadow: 0 0 5px 2px var(--color2);
}

.product {
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 4rem auto 4rem auto;
  grid-template-columns: auto auto auto;
  margin: 3rem auto;
  color: var(--color2);
  gap: 4rem;
}

.product-col {
  -ms-grid-column-align: center;
  justify-self: center;
  line-height: 2em;
  text-align: center;
  letter-spacing: 1px;
  width: 90%;
}

.product-col > img {
  border-radius: 20px;
}

.product-col > h4 {
  font-weight: 100;
}

.product-col > p {
  font-size: 14px;
  color: var(--color1);
}

.product-col > p:nth-child(4) {
  font-size: 12px;
  color: var(--color3);
  text-align: end;
}

.product-col > a {
  font-size: 12px;
  color: var(--color2);
  text-align: end;
  border: 2px solid var(--color2);
  border-radius: 20px;
  padding: 0.4em 2em;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.product-col > a:hover {
  background-color: var(--color3);
  border: transparent;
  -webkit-box-shadow: 0 0 10px var(--color2);
  box-shadow: 0 0 10px var(--color2);
  color: var(--color1);
}

/* TABLET SCREEN SHOP PAGE */
@media screen and (max-width: 1000px) {
  .product-col > h4 {
    font-size: 14px;
  }

  .product-col > p {
    font-size: 12px;
  }

  .product-col > p:nth-child(4) {
    font-size: 10px;
  }
}

/* MOBILE SCREEN SHOP PAGE */
@media screen and (max-width: 650px) {
  .product {
    -ms-grid-columns: unset;
    grid-template-columns: unset;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .product > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
