/* REVIEW PAGE */
.review {
  background-color: var(--bg2);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.review > h3 {
  text-align: center;
  color: var(--color2);
}

.review > p {
  text-align: center;
  color: var(--color1);
}

.review-container {
  width: 80vw;
  margin-top: 2.2em;
  margin-bottom: 2.2em;
}

.review-col {
  color: var(--color1);
  background-color: var(--bg3);
  padding: 2em 3rem;
  border-radius: 30px;
  line-height: 2em;
}

.review-col > p {
  line-height: 2em;
  font-size: 14px;
}

.profile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.5em;
  gap: 1em;
}

.profile > img {
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.rating > p {
  font-size: 17px;
  font-weight: 600;
}

/* SwiperJS Styling */
.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--color2);
  width: 12px;
  height: 12px;
}

/* TABLET SCREEN REVIEW PAGE */
@media screen and (max-width: 1000px) {
  .review-col > p {
    font-size: 12px;
  }

  .rating > p {
    font-size: 14px;
    font-weight: 600;
  }
}

/* MOBILE SCREEN REVIEW PAGE */
@media screen and (max-width: 650px) {
  .review-col {
    width: 100%;
  }

  .profile {
    margin-top: 0.3em;
  }

  .profile > img {
    height: 40px;
    width: 40px;
  }

  .rating {
    font-size: 10px;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  .rating > p {
    font-size: 12px;
    font-weight: 600;
  }

  .score {
    font-size: 12px;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
